
/* .searchBox{
    width: 600px !important;
} */

/* styling */
.searchDiv {
    /* width: 250px;
    height: 200px; */
    width: fit-content;
    width: -moz-fit-content;
    border: solid 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

/* .searchDiv:hover>.searchText {
    width: 600px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2 4 8 rgba(0, 0, 0, 0.5);
} */

.searchText {
    /* width: 180px; */
    width: 600px;
    border-radius: 0px;
    width: 600px;
    padding: 8px;
    border-radius: 8px;
    outline: none;
    border: none;
    transition: 1s;

}

.searchText:focus {
    outline: none;
}

#searchBtn {
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 110, 255, 0.9);
    border: none;
    border-radius: 50%;
   
}

@media only screen and (max-width: 768px) {
    /* .searchBox{
        width: 450px !important;
    } */
    .searchText {
        /* width: 180px; */
        width: 450px;
        border-radius: 0px;
        padding: 8px;
        border-radius: 8px;
        outline: none;
        border: none;
        transition: 1s;
    
    }
    .Producttitle{
        font-size: medium;
        padding-left: 8px;  
      }
      .price{
          font-size: medium;
  
      }
   
  }
@media only screen and (max-width: 568px) {
    /* .searchBox{
        width: 250px !important;
    } */
    .searchText {
        /* width: 180px; */
        width: 250px;
        border-radius: 0px;
        padding: 8px;
        border-radius: 8px;
        outline: none;
        border: none;
        transition: 1s;
    
    }
    .Producttitle{
      font-size: 12px;
      padding-left: 8px;  
    }
    .price{
        font-size: 12px;

    }

   
    .navbar-brand{
        display: none;
    }
  }
@media only screen and (max-width: 376px) {
    .searchBox{
        width: 200px !important;
    }
    .navbar-brand{
        display: none;
    }
  }

  .cart{
    
    color: lightgreen;
}
.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    position: relative;
    top: -40px;
    left: 17px;
    color: red;

}
#qty{
    margin-top: 12px !important;
}
.itemsContainer{
    border-bottom: 1px solid rgb(163, 163, 163);
    box-shadow: 0px 1px 2px rgb(163, 163, 163);
   
}
.itemWraper{
    width: 90%;
}
.product{
    width: 130px;
}
.cartItems{
    height: 300px;
}
.quantity{
    width: 50px;
}
